

.container-m {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr 10%;
    grid-template-areas: "header" "body" "footer";
    margin: 4%;
}

.content-f {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 3%;
}


.btn-righ {
    margin-left: 2.5%;
}


.btn-f {
    margin-left: 1%;
}


.header {
    display: flex;
    justify-content: space-between;
}

.hide-modal {
    cursor: pointer;
}