

.field {
    margin: 5% 0;
}

.container-login {
    grid-area: login
}

.container {
    display: grid;
    grid-template-columns: 40% auto 40%;
    grid-template-areas: '. login .'

    
}

.btn {
    display: grid;
    align-content: center;
}