

.container-table {
    grid-area: table;
}

.container-lists {
    display: grid;
    grid-template-columns: 3% auto 3%;
    grid-template-areas: '. table .';
    margin: 5% 0 5% 0;
}

.row {
    display: flex;
    justify-content: flex-end;
    margin: 5% 0;
}

.add-seller {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    margin: 10% 0 0;
}